<section class="text-center">
    <img src="assets/svg/alchemy.svg" class="mb-3">
    <mat-list role="list">
        <mat-list-item class="dashboard_links" routerLink="/dashboard" routerLinkActive="active" role="listitem"><img src="assets/svg/dashboard.svg" class="mr-2">Dashboard</mat-list-item>
        <mat-list-item class="dashboard_links" routerLink="/support" routerLinkActive="active" role="listitem"><img src="assets/svg/support.svg" class="mr-2">Support</mat-list-item>
        <mat-list-item class="dashboard_links" role="listitem"><img src="assets/svg/setting.svg" class="mr-2">Settings</mat-list-item>
        <mat-list-item class="dashboard_links" role="listitem"><img src="assets/svg/logout.svg" class="mr-2">Logout</mat-list-item>
    </mat-list>
    <div class="d-flex text-left profile_div">
        <img class="ml-3" src="assets/user.png">
        <div class="ml-3">
            <span>John Doe</span><br>
            <span><b>Recruiter</b></span>
        </div>
    </div>
</section>